@font-face {
    font-family: 'Fira Code';
    src: url('/usr/share/fonts/TTF/FiraCode-Regular.ttf');
}

line, ellipse, path {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

text {
    font-family: 'Fira Code';
    font-size: MAINFONTSIZE;
}

text.center {
    text-anchor: middle;
    dominant-baseline: central;
}

.filledstroked {
    fill: white;
    stroke: black;
    stroke-width: 1;
}
