line, ellipse, path {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

text, flowRoot {
    font-family: 'Fira Code';
    font-weight: 300;
    font-size: MAINFONTSIZE;
    line-height: 1.25em;
}

.center text, text.center {
    text-anchor: middle;
    dominant-baseline: central;
}
text.right {
    text-anchor: end;
}

.filledstroked {
    fill: white;
    stroke: black;
    stroke-width: 0.265;
}

.cutLines {
    stroke-width: 0.05;
}
