line, ellipse, path {
    fill: none;
    stroke: MAINCOLOR;
    stroke-width: 0.265;
}
rect {
    fill: SUBCOLOR;
    stroke: none;
}

text, flowRoot {
    font-family: 'Fira Code';
    fill: MAINCOLOR;
    font-weight: 300;
    font-size: MAINFONTSIZE;
    line-height: 1.25em;
}

.center text, text.center {
    text-anchor: middle;
    dominant-baseline: central;
}
.end {
    text-anchor: end;
}

.filledstroked {
    fill: none;
    stroke: MAINCOLOR;
    stroke-width: 0.265;
}

.cutLines path {
    stroke-width: 0.05;
}
