@font-face {
    font-family: 'Fira Code';
}

line, ellipse, path {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

text {
    font-family: 'Fira Code';
    font-weight: 300;
    font-size: MAINFONTSIZE;
}

text.center {
    text-anchor: middle;
    dominant-baseline: central;
}

.filledstroked {
    fill: white;
    stroke: black;
    stroke-width: 1;
}
