<?xml version="1.0" encoding="utf-8" ?>
{# <?xml-stylesheet type="text/css" href="../stylesheet.css" ?> #}
<svg
  baseProfile="full"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:ev="http://www.w3.org/2001/xml-events"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="{{ l.viewBox }}"
  width="{{ l.width }}mm"
  height="{{ l.height }}mm">
    <defs>
        <style type="text/css">
            <![CDATA[{{ css }}]]>
        </style>
    </defs>
    <g class="cutLines">
        <path d="M-2,0 h-10 M0,-2 v-10"/>
        <path d="M{{ width + 2 }},0 h10 M{{ width }},-2 v-10"/>
        <path d="M-2,{{ height }} h-10 M0,{{ height + 2 }} v10"/>
        <path d="M{{ width + 2 }},{{ height }} h10 M{{ width }},{{ height + 2 }} v10"/>
    </g>
    <g>
{% block main %}
{% endblock %}
    </g>
</svg>
