{% extends 'baseA4.svg.jinja2' if l is defined else 'base.svg.jinja2' %}

{% block main %}
<g class="center">
    <text class="filledstroked" x="{{ name.pos[0] }}" y="{{ name.pos[1] }}" style="font-size:{{ name.fontSize }}">{{ name.content }}</text>
    <text x="{{ w.pos[0] }}" y="{{ w.pos[1] }}">{{ w.content }}</text>
    <text transform="rotate(90, {{ h.pos[0] }}, {{ h.pos[1] }})" x="{{ h.pos[0] }}" y="{{ h.pos[1] }}">{{ h.content }}</text>
</g>

<flowRoot>
    <flowRegion>
        <rect x="{{ textBlock.pos[0] }}" y="{{ textBlock.pos[1] }}" width="{{ textBlock.size[0] }}" height="{{ textBlock.size[1] }}"/>
    </flowRegion>
{%- for p in textBlock.paragraphs %}
    {% if p == '' -%}
    <flowPara/>
    {%- else -%}
    <flowPara>{{ p }}</flowPara>
    {%- endif %}
{%- endfor %}
</flowRoot>
{% endblock %}
